.contactPageContainer{
    background-color: #E7E5E5;
    width: 80%;
    padding: 5% 10% ;
}
.contactHeroTitle{
    font-family: Helvetica;
    font-size: 19px;
    font-size: clamp(17px, 4.5vw, 30px);
    font-weight: 400;
    text-align: left;
    /* width: 80%; */
}
.divIcons {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.divIcons img {
    width: 20px;
    height: auto;
}
.divIcons p {
    margin-left: 15px;
    font-size: 14px;
}
.subtitleContactHero {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin: 45px 0 25px;
}
ul {
    font-family: Helvetica;
    font-size: 15.5px;
    font-weight: 400;
    line-height: 20.7px;
    text-align: left;
    padding: 0 8%;
    margin-bottom: 2em;
}

.contactFormContainer{
    background-color:#FFF;
    width: 80%;
    border: 2.3px solid white;
    padding: 0 10%;
    border-radius: 20px;
}
.inputContainer {
    position: relative;
    margin-bottom: 15px;
}
textarea {
    
    font-family: Helvetica, sans-serif !important;
}
.inputContact {
    background: transparent;
    border: 1px solid #80858D;
    padding: 5px 16px;
    border-radius: 5px;
    width: 85%;
    margin: 0 0 2% 0px;
    font-size: 15px;
    outline: none;
}
.inputContact:focus + .floatingLabel,
.inputContact:not(:placeholder-shown) + .floatingLabel {
  top: 0;
  left: 16px;
  font-size: 12px;
}
.inputContact::placeholder {
    font-family: Helvetica, sans-serif !important;
    color:  #80858D;
    opacity: 1;
}
.inputContactMessage {
    padding: 10px 16px 64px 16px;
}
.inputContactMessage::placeholder{
    font-family: Helvetica, sans-serif !important;
}
.formButton {
    margin-bottom: 15px !important;
    margin-top: 0px;
    border: none;
    width: 62% !important;
}
.button:hover {
    background-color: #3576CF;
    cursor: pointer;
}
.learnMore:hover{
    color: #3576CF;
    background-color: #fff;
}
.floatingLabel {
    position: absolute;
    top: 40%;
    left: 16px;
    transform: translateY(-50%);
    color: #80858D;
    background: #fff;
    transition: 0.2s ease all;
    pointer-events: none;
    font-family: Helvetica, sans-serif !important;
    margin-left: 5px;
}
.floatingLabelMessage {
    top: 15%;
}
  
.floatingLabelActive {
    top: 0;
    left: 16px;
    font-size: 12px;
}

@media(min-width:700px){
    .contactHeroTitle{
        font-size: clamp(28px, 4.5vw, 40px);
        line-height: normal;
    }
    .divIcons p {
        margin-left: 20px;
        font-size: 20px;
    }
    .subtitleContactHero{
        font-size: 22px;
    }
    ul {
        font-size: 21px;
        line-height: normal;
    }
    .inputContact{
        
        font-size: 16px;
        padding: 11px 16px;
        border-radius: 5px;
        width: 93%;
        /* margin: 0 0 6% 0px; */
    }
    
    .inputContactMessage {
        padding: 11px 16px 64px 16px;
    }
    .formButton {
        width: 40% !important;
        margin-bottom: 25px !important;
    }
    .floatingLabel {
        /* top: 30%; */
    }
    
    
    .floatingLabelMessage {
        top: 15%;
    }
    .inputContact:focus + .floatingLabel,
    .inputContact:not(:placeholder-shown) + .floatingLabel {
        top: 0;
        font-size: 15px;
    }
    
    .floatingLabelActive {
        top: 0;
        left: 16px;
        font-size: 16px;
    }

}

@media(min-width:1000px){
    
    .contactHeroTitle{
        width: 100%;
        font-size: clamp(20px, 2vw, 30px);
    }
    .contactPageContainer{
        display: flex;
        justify-content: space-between;
    }
    .contactFormContainer {
        width: 35%;
        padding: 0 5%;
    }
    .contactPageOne {
        width: 41%;
    }
    .inputContact {   
        width: 90%;
        /* margin: 0 0 10% 0px; */
    }
    .divIcons p {
        margin-left: 17px;
        font-size: 17px;
    }
    .subtitleContactHero, ul {
        font-size: 17px;
    }
    ul {
        margin-bottom: 0;
    }
    .formButton {
        width: 53% !important;
    }
    .button {
        font-size: 14px;
    }
}
@media(min-width:1200px){
    .contactHeroTitle{
        font-size: clamp(20px, 2vw, 30px);
    }
    .button {
        font-size: 16px;
    }
    .contactPageOne {
        width: 44%;
    }
    .contactFormContainer {
        width: 37%;
        padding: 0 3%;
    }
    .divIcons p {
        margin-left: 18px;
        font-size: 18px;
    }
    .subtitleContactHero, ul {
        font-size: 18px;
    }
    .inputContact {
        
        font-size: 18px;
        padding: 6px 16px;
        /* margin: 0 0 6% 0px; */
    }
    .inputContactMessage {
        
        padding: 6px 16px 64px 16px;
    }
    .formButton {
        width: 45% !important;
    }
}
@media(min-width:1400px){
    .floatingLabel {
        /* top: 28%; */
    }
    
    .floatingLabelMessage {
        top: 15%;
    }
    .inputContact:focus + .floatingLabel,
    .inputContact:not(:placeholder-shown) + .floatingLabel {
        top: 0;
        font-size: 15px;
    }
    
    .floatingLabelActive {
        top: 0;
        left: 15px;
        font-size: 16px;
    }
    .button {
        font-size: 17px;
        padding: 18px;
    }
    .contactHeroTitle {
        font-size: clamp(30px, 2vw, 34px);
    }
    .formButton {
        
        width: 41% !important;
    }
}
@media(min-width:1800px){
    .floatingLabel {
        /* top: 27%; */
    }
    
    .floatingLabelMessage {
        top: 15%;
    }
    .inputContact:focus + .floatingLabel,
    .inputContact:not(:placeholder-shown) + .floatingLabel {
        top: 0;
        font-size: 15px;
    }
    
    .floatingLabelActive {
        top: 0;
        left: 16px;
    }
    .button {
        font-size: 19px;
    }
    .contactHeroTitle {
        font-size: 33px;
    }
    .formButton {
        width: 41% !important;
    }
    .contactPageOne {
        width: 39%;
    }
    .contactFormContainer {
        width: 34%;
    }
    .contactHeroTitle {
        font-size: 34px;
    }
    .divIcons p, .subtitleContactHero, ul {
        font-size: 20px;
    }
    .divIcons img {
        width: 35px;
    }
}