.contactPageContainer{
    background-color: #E7E5E5;
    width: 80%;
    padding: 5% 10% ;
}
.contactHeroTitle{
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    /* width: 80%; */
}
.divIcons {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.divIcons p {
    margin-left: 15px;
    font-size: 14px;
}
.subtitleContactHero {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin: 45px 0 25px;
}
ul {
    font-family: Helvetica;
    font-size: 15.5px;
    font-weight: 400;
    line-height: 20.7px;
    text-align: left;
    padding: 0 8%;
    margin-bottom: 2em;
}

.contactFormContainer{
    background-color:#FFFFFF33;
    width: 80%;
    border: 2.3px solid white;
    padding: 0 10%;
    border-radius: 20px;
}
.inputContact {
    background: transparent;
    border: 1px solid #80858D;
    padding: 5px 16px;
    border-radius: 5px;
    width: 85%;
    margin: 0 0 8% 0px;
}
.inputContact::placeholder {
    font-family: Helvetica, sans-serif !important;
    color:  #80858D;
    opacity: 1;
}
.inputContactMessage {
    
    padding: 5px 16px 64px 16px;
}
.formButton {
    margin-bottom: 15px !important;
    margin-top: 0px;
    border: none;
    width: 62% !important;
}
.button:hover {
    background-color: #3576CF;
}
.learnMore:hover{
    color: #3576CF;
    background-color: #fff;
}