.medicalCity {
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #0056CC;
    margin: 7% 10%;
}

.medicalCity:hover {
    color:#3576CF
}
@media(min-width:700px){
    .medicalCity{
        margin: 4% 10%;
    }
}