.navbarContainer{
    /* height: 74px; */
}
.medicalCity {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #0056CC;
    margin: 7%;
}