.medicalCity {
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase;
    color: #0056CC;
    margin: 7% 10%;
    
    margin: 0;
    padding: 24px 32px 24px 10%;
}

.medicalCity:hover {
    color:#3576CF
}
.buttonsNavbar {
    display: none;
}
@media(min-width:700px){
    
}
@media(min-width:1000px){
    .medicalCity{
        font-size: 26px;
        font-weight: 700;
    }
    .navbarContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .buttonsNavbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 29%;
        margin-right: 10%;
    }
    .buttonsNavbar .button {
        margin: 0;
    }
    .whatWeDoNavbar {
        color: black !important;
        background: white !important;
    }
}



@media(min-width:1200px){
    .medicalCity{
        font-size: 28px;
        font-weight: 700;
    }
    
    .buttonsNavbar {
        width: 25%;
    }
}
@media(min-width: 1800px){
    .buttonsNavbar {
        width: 22%;
    }
    .medicalCity{
        font-size: 30px;
    }
}