.footer {
    background-color: #242324;
    color: white;
    padding: 8% 10% ;
}
.medicalCityFooter {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    text-transform: uppercase; 
    margin: 0;
}

.indice {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
.indice:hover {
    cursor:pointer;
}
.copyright {
    
    width: 62%;
    font-size: 12px;
    margin-bottom: 0;
}
@media(min-width:700px){
    .footer{
        padding: 6% 10%;
    }
    .medicalCityFooter{
        
        margin-bottom: 1em;
    }
    .copyright {
        width: 40%;
        font-size: 12px;
    }
    
}
@media(min-width:1000px){
    .indice{
        margin: 1.5em 0;
    }
    .copyright {
        width: 30%;
        font-size: 14px;
    }
}
@media(min-width:1200px){
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer p {
        width: 42%;
        margin-bottom: 0;
    }
    .footer div {
       width: 26%;
    }
    .copyright {
        font-size: 18px;
        margin-top: 0;
    }
    .indice {
        font-size: 16px;
    }
    .medicalCityFooter {
        font-size: 28px;
    }
}
@media(min-width:1800px){
    
    .copyright {
        font-size: 20px;
        margin-top: -10px;
    }
    .indice {
        font-size: 18px;
    }
    .medicalCityFooter {
        font-size: 30px;
    }
}